@charset "utf-8";
/* CSS Document */


*{margin:0; padding:0}
*{font-family:"微软雅黑"}


@keyframes hy{0%{left:300px; color:#000;} 100%{left:1100px; color:#FFF}}
@keyframes lunbo{0%{left:-700px;;} 100%{left:800px;}}
@keyframes bj{0%{background:url(../img/1.png)} 50%{background:url(../img/2.png)} 100%{background:url(../img/5.png)}}

 /*图片轮播*/
.zt{width:1349px; height:100%; margin:0 auto}
.tou{  width:1349px; height:720px; margin:0 auto; background:url(../img/113.jpg); position:relative;}
.hy{width:200px; height:30px; font-size:12px; position:absolute; top:0px; left:1100px; padding:0; margin:0;animation:1.5s 1.5s ease infinite alternate; animation-name:hy;}
.logo{background:url(../img/111.jpeg);border-radius:100px; border:rgba(255,255,255,1) solid 2px; transition:2s ease all}
.logo:hover{ transform:rotate(360deg) scale(1.8,1.8); border-radius:100px; border:rgba(255,0,0,1) solid 5px;}
.dh{ width:1349px; height:100px; background:rgba(255,255,255,.6); position:relative;}
.dh li{width:auto; height:30px; line-height:30px; float:left; color:rgba(51,51,51,1); list-style:none; margin-left:80px; margin-top:35px;}
.dh li a{text-decoration:none; color:rgba(51,51,51,1);}
.dh li:hover{background:rgba(255,0,0,.6); border-bottom:solid 2px #FFFFFF}
.dh li:hover a{color:rgba(255,255,255,1)}

.lb{position:relative}
.nr_11:hover .nr_1{ left:200px; transform:rotate(360deg); opacity:1; width:800px; height:500px; border:rgba(255,0,0,1) solid 2px}
.nr_1{width:0px; height:0px; position:absolute; top:0px; left:0px; opacity:0; transition:all 2s; overflow:hidden}
.nr_22:hover .nr_2{ left:200px; transform:rotate(360deg); opacity:1; width:800px; height:500px; border:rgba(255,0,0,1) solid 2px}
.nr_2{width:0px; height:0px; position:absolute; top:-100px; left:0px; opacity:0; transition:all 2s; overflow:hidden}
.nr_33:hover .nr_3{ left:200px; transform:rotate(360deg); opacity:1; width:800px; height:500px; border:rgba(255,0,0,1) solid 2px}
.nr_3{width:0px; height:0px; position:absolute; top:-200px; left:0px; opacity:0; transition:all 2s; overflow:hidden}
.nr_44:hover .nr_4{ left:200px; transform:rotate(360deg); opacity:1; width:800px; height:500px; border:rgba(255,0,0,1) solid 2px}
.nr_4{width:0px; height:0px; position:absolute; top:-300px; left:0px; opacity:0; transition:all 2s; overflow:hidden}


.lb ul li{ width:50px; height:50px; text-align:center; margin-top:50px; background:rgba(255,255,255,1); opacity:.6; border-bottom:rgba(255,0,0,1) solid 1px; border-radius:50px; list-style:none; line-height:50px; transition:all 2s}
.lb ul li a{text-decoration:none; color:#09F}
.lb ul li a:hover{color:rgba(255,0,0,1);}
.lb ul li:hover{ background:rgba(255,255,255,1); opacity:1; transform:rotate(360deg) scale(1.2,1.2) translate(20px);}


.tupian{width:840px; height:280px; margin-left:auto; margin-right:auto;position:relative;overflow:hidden;}
.tupian ul{width:840px; height:280px; list-style:none;position:absolute;left:0;top:0px; animation:lunbo 10s infinite linear alternate; width:200%; opacity:.7}
.tupian ul li{width:200px; height:280px; margin:5px;  float:left; overflow:hidden}
.tupian ul li img{width:200px; height:280px;}



.nr-1{ width:1000px; height:720px; position:relative;  margin:0 auto; background:url(../img/A_072112.png) no-repeat bottom right; }

